img {
    height: 25%;
    width: 25%;
}
/* table {
    width: 30%;
}
td {
    width: 10%;
    height: 10%;  
} */
hr {
    width: 10%;
    height: 0.3%;
    border-style: none;
    border-top-style: dotted;
}
h1 {
    color: aquamarine;
}